@import "../../../../public/scss/colors";

.MovieDetails {
  display: flex;
  margin: 1.5em 0;

  &-image {
    height: 400px;
  }

  &-info {
    color: $white;
    padding: 0px 40px 30px;

    &-header {
      display: flex;
      align-items: center;

      &-title {
        font-size: 4em;
      }

      &-rating {
        color: #7cb342;
        margin-left: 1em;
        width: 65px;
        line-height: 65px;
        font-size: 1.6em;
        border-radius: 50%;
        border: 1px solid #ffffff80;
        text-align: center;
      }
    }

    &-genre {
      font-size: 1.2em;
    }

    &-subtitle {
      display: flex;
      margin: 0.5em 0;
      font-size: 1.7em;
      justify-content: space-between;
      max-width: 170px;
      color: $pink;
      font-weight: bold;
    }

    &-description {
      font-size: 1.2em;
    }
  }
}

.withoutMovie {
  color: antiquewhite;
  font-size: 40px;
  text-align: center;
}
