.MovieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 20px;

  li {
    list-style-type: none;
    margin-bottom: 3em;
  }
}

.noFound {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3em;
  padding-bottom: 2em;
}
