@import "../../../assets/scss/colors";

.inputWrapper {
  position: relative;
}

.categoryList {
  padding: 0;
  margin: 0;
  max-height: 190px;
  overflow-x: hidden;
  box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.2);
}

.categoryItem {
  display: flex;
  padding: 0px 15px;

  &__wrapper {
    position: relative;
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    & span {
      color: $white;
      font-size: 18px;
      margin-left: 10px;
      text-transform: capitalize;
    }

    & .checkmark:after {
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}

input#genres {
  cursor: pointer;
  height: 20px;
  width: 20px;

  &:focus {
    border: none;
  }
}

input#genre {
  text-transform: capitalize;
}

.selectorIcon:after {
  content: "›";
  position: absolute;
  right: -20px;
  top: 15px;
  bottom: 10px;
  font-size: 60px;
  color: $pink;
  transform: rotate(90deg);
}
