@import "../../../public/scss/colors";
@import "../../../public/scss/mixins";

.search-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 60px 125px;

  &-label {
    color: $white;
    width: 100%;
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &-input {
    color: $white;
    background-color: rgba(31, 31, 31, 0.8); //make a var
    flex: 2;
    font-size: 20px;
    padding-left: 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    height: 60px;

    &:focus {
      outline: none;
    }
  }

  &-button {
    @include btn(240px, $white, none, $pink, $pink-light, $pink-dark);
    text-transform: uppercase;
    line-height: 30px;
  }
}
