@import "../../../public/scss/colors";
@import "../../../public/scss/mixins";

.top-panel {
  display: flex;
  justify-content: space-between;
}

.btn-add-movie {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 1.3em;
  border-radius: 5px;
  font-weight: 500;
  background-color: $grey-light;
  background-color: rgba(85, 85, 85, 0.7);
  padding: 8px 20px;
  letter-spacing: 1px;
  color: $pink;

  &:hover {
    background-color: rgb(89, 89, 89, 0.4);
  }

  &:active {
    background-color: rgb(89, 89, 89, 0.1);
  }

  &:focus {
    outline: none;
  }
}
