@import "../../../assets/scss/colors";

.calendarIcon {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 395px;
    top: 10px;
    display: block;
    width: 30px;
    height: 30px;
    color: $pink;
    background-size: 30px 30px;
    background-image: url("../../../assets/icons/calendarIcon.svg");
    background-repeat: no-repeat;
    z-index: 5;
  }
}
