@import "../../../../public/scss/colors";

.FilterPanel {
  position: relative;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  color: $white;

  &::after {
    content: "▼";
    font-size: .6em;
    display: flex;
    align-items: center;

    &:hover {
      fill: $pink;
    }
  }

  &-sortby {
    font-weight: 400;
    margin-right: 200px;
  }

  &-release {
    position: absolute;
    right: 25px;
    top: -20px;
    text-transform: uppercase;
    list-style: none;

    &:hover {
      cursor: pointer;
      color: $pink;
    }

    &:focus {
      outline: none;
    }
  }

  &-item {
    font-weight: 400;
    min-width: 130px;
    margin: 0 10px;
    text-align: center;
    color: $white;
    background: $dark;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $pink;
    }
  }
}
