@import "../../../assets/scss/colors";

.FilterPanel {
  margin-right: 45px;
  color: $white;

  &-sortby,
  &-release {
    margin-right: 2em;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }
}